@charset "UTF-8";
/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
section {
  margin: 100px 0;
}
@media (min-width: 1200px) {
  section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
    vertical-align: baseline;
    padding: 90px 0;
  }
}

/*=== Reset ===*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all ease 0.3s;
}

ul, ol {
  margin-bottom: 0;
}

:focus-visible {
  outline: none;
}

/*=== Container ===*/
@media (min-width: 1200px) {
  .container, .container-lg, .container-xl {
    max-width: calc(95.49% + 24px);
  }
}

/*=== Container Fluido a partir de Laptop ===*/
@media (min-width: 576px) {
  .container-md {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-md {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-md {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container-sm {
    max-width: 100%;
    width: 100%;
  }
}

/*=== Botones ===*/
.cta button {
  background-color: transparent;
  border-style: none;
  padding: 12px 16px;
  font-family: "Roboto-Regular", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media (min-width: 360px) {
  .cta button {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .cta button {
    font-size: 12px;
  }
}
.cta--secundary {
  text-align: center;
}
@media (min-width: 768px) {
  .cta--secundary {
    text-align: inherit;
  }
}
.cta--secundary button {
  border: 1px solid #F6F8FF;
  color: #FFFFFF;
  min-width: 118px;
  transition: all ease 0.3s;
}
.cta--secundary:hover button {
  border: 1px solid #DF6C47;
  color: #DF6C47;
}
.cta.margin-top-btn {
  margin-top: 40px;
}

/*=== Navigation Carousel ===*/
.owl-navsDots--inline {
  width: 100%;
  position: relative;
}
.owl-navsDots--inline .owl-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
}
.owl-navsDots--inline .owl-nav [class*=owl-] {
  margin: 0;
}
.owl-navsDots--inline .owl-nav [class*=owl-]:hover {
  background: none;
}
.owl-navsDots--inline .owl-nav button {
  position: absolute;
}
.owl-navsDots--inline .owl-nav button .arrow {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-navsDots--inline .owl-nav button .arrow svg {
  height: 90%;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all ease 0.3s;
  color: #DF6C47;
}
.owl-navsDots--inline .owl-nav button .arrow svg:hover {
  fill: #F6F8FF;
}
.owl-navsDots--inline .owl-nav button.owl-prev {
  left: 0;
}
.owl-navsDots--inline .owl-nav button.owl-next {
  right: 0;
}
@media (min-width: 768px) {
  .owl-navsDots--inline .owl-nav button.owl-prev {
    left: calc(33% + 15px);
  }
  .owl-navsDots--inline .owl-nav button.owl-next {
    right: calc(33% + 15px);
  }
}
.owl-navsDots--inline .owl-dots {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-navsDots--inline.space-btm-lg .owl-stage-outer {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .owl-navsDots--inline.space-btm-lg .owl-stage-outer {
    margin-bottom: 60px;
  }
}
.owl-navsDots--inline.space-btm-regular .owl-stage-outer {
  margin-bottom: 40px;
}

.owl-theme .owl-dots .owl-dot span {
  background: none;
  border: 1px solid #DF6C47;
  box-sizing: content-box;
  transition: all ease 0.3s;
}
.owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  background-color: rgba(223, 108, 71, 0.5);
}
.owl-theme .owl-dots .owl-dot.active span {
  background-color: #DF6C47;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 16px;
}

/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
body {
  background-color: #02151B;
  color: #D8D7D3;
}
body.bkg--beige {
  background-color: #868782;
  /*=== Botones ===*/
  /*Apartir de aquí ir colocando el "&" en caso de que sea la clase por bloques y se borra
  el "&" de bkg--beige. En caso de que sea general desde el body a partir de aquí no debe de existir el "&" y en la clase de bkg--beige sí*/
}
body.bkg--beige .owl-nav button .arrow svg {
  color: #004659;
}
body.bkg--beige .owl-nav button .arrow svg:hover {
  fill: #F6F8FF;
}
body.bkg--beige .owl-dots .owl-dot span {
  border: 1px solid #004659;
}
body.bkg--beige .owl-dots .owl-dot:hover span {
  background-color: rgba(0, 70, 89, 0.5);
}
body.bkg--beige .owl-dots .owl-dot.active span {
  background-color: #004659;
}
body.bkg--beige .cta--secundary:hover button {
  border: 1px solid #004659;
  color: #004659;
}
body.bkg--beige .block-description ul li::marker, body.bkg--beige .accordions__accordions .accordion-body ul li::marker, .accordions__accordions body.bkg--beige .accordion-body ul li::marker, body.bkg--beige .block-description--center ul li::marker, body.bkg--beige .block-description ol li::marker, body.bkg--beige .accordions__accordions .accordion-body ol li::marker, .accordions__accordions body.bkg--beige .accordion-body ol li::marker, body.bkg--beige .block-description--center ol li::marker {
  color: #004659;
}
body.bkg--beige .block-description a, body.bkg--beige .accordions__accordions .accordion-body a, .accordions__accordions body.bkg--beige .accordion-body a, body.bkg--beige .block-description--center a {
  color: #004659;
}
body.bkg--beige .block-description a:hover, body.bkg--beige .accordions__accordions .accordion-body a:hover, .accordions__accordions body.bkg--beige .accordion-body a:hover, body.bkg--beige .block-description--center a:hover {
  color: rgba(0, 70, 89, 0.75);
}
body.bkg--beige .featured-cards .featured-cards__cards .item-card-link a:hover {
  color: #004659;
}
body.bkg--orange {
  background-color: #DF6C47;
  /*=== Botones ===*/
  /*Apartir de aquí ir colocando el "&" en caso de que sea la clase por bloques y se borra
  el "&" de bkg--beige. En caso de que sea general desde el body a partir de aquí no debe de existir el "&" y en la clase de bkg--beige sí*/
}
body.bkg--orange .owl-nav button .arrow svg {
  color: #D8D7D3;
}
body.bkg--orange .owl-nav button .arrow svg:hover {
  fill: #02151B;
}
body.bkg--orange .owl-dots .owl-dot span {
  border: 1px solid #D8D7D3;
}
body.bkg--orange .owl-dots .owl-dot:hover span {
  background-color: rgba(216, 215, 211, 0.5);
}
body.bkg--orange .owl-dots .owl-dot.active span {
  background-color: #D8D7D3;
}
body.bkg--orange .cta--secundary:hover button {
  border: 1px solid #02151B;
  color: #02151B;
}
body.bkg--orange .block-description ul li::marker, body.bkg--orange .accordions__accordions .accordion-body ul li::marker, .accordions__accordions body.bkg--orange .accordion-body ul li::marker, body.bkg--orange .block-description--center ul li::marker, body.bkg--orange .block-description ol li::marker, body.bkg--orange .accordions__accordions .accordion-body ol li::marker, .accordions__accordions body.bkg--orange .accordion-body ol li::marker, body.bkg--orange .block-description--center ol li::marker {
  color: #02151B;
}
body.bkg--orange .block-description a, body.bkg--orange .accordions__accordions .accordion-body a, .accordions__accordions body.bkg--orange .accordion-body a, body.bkg--orange .block-description--center a {
  color: #02151B;
}
body.bkg--orange .block-description a:hover, body.bkg--orange .accordions__accordions .accordion-body a:hover, .accordions__accordions body.bkg--orange .accordion-body a:hover, body.bkg--orange .block-description--center a:hover {
  color: rgba(2, 21, 27, 0.75);
}
body.bkg--orange .featured-cards .featured-cards__cards .item-card-link a:hover {
  color: #02151B;
}
body.bkg--orange .featured-logos__carousel .owl-dots .owl-dot span {
  border: 1px solid #DF6C47;
}
body.bkg--orange .featured-logos__carousel .owl-dots .owl-dot:hover span {
  background-color: rgba(223, 108, 71, 0.5);
}
body.bkg--orange .featured-logos__carousel .owl-dots .owl-dot.active span {
  background-color: #DF6C47;
}

/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
/*=== Título ===*/
.block-header {
  margin-bottom: 40px;
  color: #D8D7D3;
}
.block-header h1, .block-header h2, .block-header h3, .block-header h4, .block-header h5, .block-header h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Roboto-Light", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  font-size: 36px;
  letter-spacing: 0px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 360px) {
  .block-header h1, .block-header h2, .block-header h3, .block-header h4, .block-header h5, .block-header h6 {
    font-size: 38px;
  }
}
@media (min-width: 768px) {
  .block-header h1, .block-header h2, .block-header h3, .block-header h4, .block-header h5, .block-header h6 {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .block-header h1, .block-header h2, .block-header h3, .block-header h4, .block-header h5, .block-header h6 {
    font-size: 42px;
  }
}
.block-header .featured-txt {
  font-family: "Baskervville-Regular", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
}

.block-subtitle {
  color: #D8D7D3;
}
.block-subtitle h1, .block-subtitle h2, .block-subtitle h3, .block-subtitle h4, .block-subtitle h5, .block-subtitle h6, .block-subtitle p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Baskervville-Italic", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 1;
}
@media (min-width: 360px) {
  .block-subtitle h1, .block-subtitle h2, .block-subtitle h3, .block-subtitle h4, .block-subtitle h5, .block-subtitle h6, .block-subtitle p {
    font-size: 28px;
  }
}
@media (min-width: 768px) {
  .block-subtitle h1, .block-subtitle h2, .block-subtitle h3, .block-subtitle h4, .block-subtitle h5, .block-subtitle h6, .block-subtitle p {
    font-size: 26px;
  }
}

/*=== Descripción ===*/
.block-description, .accordions__accordions .accordion-body, .block-description--center {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Baskervville-Regular", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  font-size: 22px;
  letter-spacing: 0px;
  color: #D8D7D3;
}
@media (min-width: 360px) {
  .block-description, .accordions__accordions .accordion-body, .block-description--center {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .block-description, .accordions__accordions .accordion-body, .block-description--center {
    font-size: 20px;
  }
}
.block-description p, .accordions__accordions .accordion-body p, .block-description--center p {
  margin: 1.3rem 0;
}
@media (min-width: 768px) {
  .block-description p, .accordions__accordions .accordion-body p, .block-description--center p {
    margin: 1rem 0;
  }
}
.block-description ul, .accordions__accordions .accordion-body ul, .block-description--center ul {
  margin: 1.3rem 0;
}
@media (min-width: 768px) {
  .block-description ul, .accordions__accordions .accordion-body ul, .block-description--center ul {
    margin: 1rem 0;
  }
}
.block-description ul li::marker, .accordions__accordions .accordion-body ul li::marker, .block-description--center ul li::marker {
  color: #DF6C47;
}
.block-description ol, .accordions__accordions .accordion-body ol, .block-description--center ol {
  margin: 1.3rem 0;
  display: inline-block;
}
@media (min-width: 768px) {
  .block-description ol, .accordions__accordions .accordion-body ol, .block-description--center ol {
    margin: 1rem 0;
  }
}
.block-description ol li::marker, .accordions__accordions .accordion-body ol li::marker, .block-description--center ol li::marker {
  color: #DF6C47;
}
.block-description a, .accordions__accordions .accordion-body a, .block-description--center a {
  transition: all ease 0.3s;
  color: #DF6C47;
}
.block-description a:hover, .accordions__accordions .accordion-body a:hover, .block-description--center a:hover {
  color: rgba(223, 108, 71, 0.75);
}
@media (min-width: 992px) {
  .block-description--center ul, .block-description--center ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}

/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
footer {
  background-color: #02151B;
  padding-top: 35px;
}
footer .header-footer {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  padding: 45px 0;
}
footer .header-footer .imagotipo {
  height: 92px;
}
footer .header-footer .imagotipo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .header-footer h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Baskervville-Regular", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 1;
  color: #D8D7D3;
  text-align: center;
}
@media (min-width: 360px) {
  footer .header-footer h2 {
    font-size: 61px;
  }
}
@media (min-width: 768px) {
  footer .header-footer h2 {
    font-size: 68px;
  }
}
footer .featured-links {
  margin: 45px 0;
  margin: 40px 0;
}
footer .featured-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media (min-width: 768px) {
  footer .featured-links ul {
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
footer .featured-links ul li {
  font-family: "Baskervville-Regular", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  color: #868782;
  font-size: 16px;
  letter-spacing: 0px;
}
@media (min-width: 360px) {
  footer .featured-links ul li {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  footer .featured-links ul li {
    font-size: 15px;
  }
}
footer .featured-links ul li a {
  padding: 12px;
  display: inline-block;
}
footer .featured-links ul li a:hover {
  color: rgba(216, 215, 211, 0.8);
}
@media (min-width: 1200px) {
  footer .featured-links ul li a {
    padding: 5px;
  }
}
footer .socials {
  margin: 45px 0;
}
@media (min-width: 768px) {
  footer .socials {
    margin: 45px 0 40px;
  }
}
footer .socials ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 50px;
  justify-content: center;
}
footer .socials ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .socials ul li .item-social {
  height: 40px;
  max-width: 40px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .socials ul li .item-social a {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .socials ul li .item-social a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .socials ul li .item-social a i {
  font-size: 37px;
  color: #DF6C47;
}
footer .socials ul li .item-social a:hover img, footer .socials ul li .item-social a:hover i {
  opacity: 0.8;
}
footer .secondary-links {
  margin: 15px 0;
}
@media (min-width: 1200px) {
  footer .secondary-links {
    margin: 10px 0;
  }
}
footer .secondary-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media (min-width: 768px) {
  footer .secondary-links ul {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
  }
}
footer .secondary-links ul li {
  font-family: "Baskervville-Italic", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  color: #004659;
}
footer .secondary-links ul li a {
  padding: 12px;
  display: inline-block;
}
footer .secondary-links ul li a:hover {
  color: rgba(216, 215, 211, 0.5);
}
@media (min-width: 1200px) {
  footer .secondary-links ul li a {
    padding: 5px;
  }
}
@media (min-width: 360px) {
  footer .secondary-links ul li {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  footer .secondary-links ul li {
    font-size: 15px;
  }
}
footer .copyright {
  font-family: "Roboto-Regular", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  text-align: center;
  color: #004659;
  padding: 15px 0 10px;
}
@media (min-width: 360px) {
  footer .copyright {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  footer .copyright {
    font-size: 11px;
  }
}

/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
.presentation-carousel {
  width: 100%;
  position: relative;
}
.presentation-carousel-inner {
  width: 100%;
  position: relative;
  text-align: center;
}
.presentation-carousel__carousel {
  width: 100%;
  position: relative;
}
.presentation-carousel__carousel .item .item-inner {
  aspect-ratio: 1/0.76;
}
.presentation-carousel__carousel .item .item-inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.presentation-carousel__cta {
  padding-top: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
.featured-cards {
  width: 100%;
  position: relative;
}
.featured-cards-inner {
  width: 100%;
  position: relative;
  text-align: center;
}
.featured-cards__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.featured-cards__cards .item-card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 100%;
}
@media (min-width: 768px) {
  .featured-cards__cards .item-card-link {
    width: calc((100% - 32px) / 3);
  }
}
@media (min-width: 1200px) {
  .featured-cards__cards .item-card-link {
    width: calc((100% - 48px) / 4);
  }
}
.featured-cards__cards .item-card-link a {
  text-decoration: none;
  color: #D8D7D3;
  text-align: center;
  width: 100%;
}
.featured-cards__cards .item-card-link a:hover {
  color: #DF6C47;
}
.featured-cards__cards .item-card-link a .item-card-link__bkg {
  width: 100%;
  position: relative;
  height: 100%;
  aspect-ratio: 0.954;
}
.featured-cards__cards .item-card-link a .item-card-link__bkg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-cards__cards .item-card-link a p {
  display: inline-block;
  padding: 16px;
  font-family: "Baskervville-Italic", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  font-size: 24px;
  letter-spacing: 0px;
}
@media (min-width: 360px) {
  .featured-cards__cards .item-card-link a p {
    font-size: 28px;
  }
}
@media (min-width: 768px) {
  .featured-cards__cards .item-card-link a p {
    font-size: 26px;
  }
}

/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
.left-description {
  width: 100%;
  position: relative;
}
.left-description-inner {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .left-description-inner {
    flex-direction: row;
    align-items: stretch;
  }
}
.left-description__left-side {
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .left-description__left-side {
    /* padding-left: 36px; */
    width: 100%;
    /* padding-top: 75px;
    padding-bottom: 75px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; */
  }
}
@media (min-width: 1200px) {
  .left-description__left-side {
    width: calc((100% - 16px) / 12 * 5);
    padding-left: 2.255%;
    padding-top: 85px;
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.left-description__left-side .block-header {
  text-align: center;
}
@media (min-width: 768px) {
  .left-description__left-side .block-header {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1200px) {
  .left-description__left-side .block-header {
    text-align: left;
    transform: none;
    left: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .left-description__left-side .block-descrition-wrap {
    width: calc((100vw - 4.51%) / 12 * 4);
  }
}
.left-description__left-side .block-descrition-wrap .cta--secundary {
  text-align: center;
}
@media (min-width: 1200px) {
  .left-description__left-side .block-descrition-wrap .cta--secundary {
    text-align: left;
  }
}
.left-description__right-side {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}
@media (min-width: 768px) {
  .left-description__right-side {
    padding-bottom: 70%;
  }
}
@media (min-width: 992px) {
  .left-description__right-side {
    padding-bottom: 55%;
  }
}
@media (min-width: 1200px) {
  .left-description__right-side {
    width: calc((100% - 16px) / 12 * 7);
    padding-bottom: 40.89%;
  }
}
.left-description__right-side img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.left-description__right-side::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: 50;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  aspect-ratio: 1/0.25;
  height: auto;
  max-height: 120px;
  background-image: url("../assets/corporativo/pattern.svg");
}
@media (min-width: 992px) {
  .left-description__right-side::after {
    max-height: 150px;
  }
}

/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
.center-description {
  width: 100%;
  position: relative;
}
.center-description-inner {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .center-description-inner {
    flex-direction: row-reverse;
    align-items: stretch;
  }
}
.center-description__right-side {
  width: 100%;
  position: relative;
  text-align: center;
}
@media (min-width: 992px) {
  .center-description__right-side {
    width: calc((100% - 16px) / 12 * 7);
    padding-right: 36px;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .center-description__right-side {
    padding-right: 2.255%;
    padding-top: 85px;
    padding-bottom: 85px;
  }
}
@media (min-width: 1200px) {
  .center-description__right-side-inner {
    width: calc((100vw - 4.51%) / 12 * 5);
  }
}
.center-description__right-side-inner .block-description--center {
  text-align: left;
}
@media (min-width: 992px) {
  .center-description__right-side-inner .block-description--center {
    text-align: center;
  }
}
.center-description__left-side {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}
@media (min-width: 768px) {
  .center-description__left-side {
    padding-bottom: 70%;
  }
}
@media (min-width: 992px) {
  .center-description__left-side {
    width: calc((100% - 16px) / 12 * 5);
    padding-bottom: 49.16%;
  }
}
.center-description__left-side img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.center-description__left-side::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: 50;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  right: 0;
  aspect-ratio: 1/0.25;
  height: auto;
  max-height: 120px;
  background-image: url("../assets/corporativo/pattern.svg");
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .center-description__left-side::after {
    max-height: 150px;
  }
}

/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
/* Elemento de Galería */
.item_gallery_img_lg {
  width: 100%;
  position: relative;
  display: flex;
}
.item_gallery_img_lg .item_gallery_img_thumb {
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 75.83%;
  display: flex;
}
.item_gallery_img_lg .item_gallery_img_thumb img {
  width: 100%;
  display: block;
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.item_gallery_img_lg .item_gallery_img_thumb::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(2, 21, 27, 0);
  transition: all ease-in-out 0.3s;
}
.item_gallery_img_lg .item_gallery_img_thumb:hover .icon_zoom {
  top: 50%;
  transform: translate(-50%, -50%);
}
.item_gallery_img_lg .item_gallery_img_thumb:hover::after {
  background-color: rgba(0, 0, 0, 0.4);
}
.item_gallery_img_lg .icon_zoom {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -70%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  transition: all ease-in-out 0.3s;
  pointer-events: all;
}
.item_gallery_img_lg .icon_zoom svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.gallery-inner {
  text-align: center;
}
.gallery__grid {
  width: 100%;
  position: relative;
}
.gallery__grid .row:nth-child(odd) .col-md-6:nth-child(odd) {
  padding: 0;
}
@media (min-width: 768px) {
  .gallery__grid .row:nth-child(odd) .col-md-6:nth-child(odd) {
    padding-left: 0px;
    padding-right: 8px;
  }
}
.gallery__grid .row:nth-child(odd) .col-md-6:nth-child(even) {
  padding: 16px 0 0 0;
}
@media (min-width: 768px) {
  .gallery__grid .row:nth-child(odd) .col-md-6:nth-child(even) {
    padding: 0 0 0 8px;
  }
}
.gallery__grid .row:nth-child(even) {
  flex-direction: row-reverse;
  padding-top: 16px;
}
.gallery__grid .row:nth-child(even) .col-md-6:nth-child(odd) {
  padding: 0;
}
@media (min-width: 768px) {
  .gallery__grid .row:nth-child(even) .col-md-6:nth-child(odd) {
    padding-left: 8px;
    padding-right: 0px;
  }
}
.gallery__grid .row:nth-child(even) .col-md-6:nth-child(even) {
  padding: 16px 0 0 0;
}
@media (min-width: 768px) {
  .gallery__grid .row:nth-child(even) .col-md-6:nth-child(even) {
    padding: 0 8px 0 0;
  }
}
.gallery__main-img {
  width: 100%;
  position: relative;
  display: flex;
}
.gallery__main-img .item_gallery_img_thumb {
  padding-bottom: 58.99%;
}
.gallery__secundary-imgs {
  width: 100%;
  position: relative;
}
.gallery__secundary-imgs__secundary .item_gallery_img_thumb {
  padding-bottom: 58.33%;
}
.gallery__secundary-imgs__secundary-main .item_gallery_img_thumb {
  padding-bottom: 45%;
}
@media (min-width: 768px) {
  .gallery__secundary-imgs__secundary-main .item_gallery_img_thumb {
    padding-bottom: 28.652%;
  }
}

/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
.featured-logos {
  padding: 45px 0;
}
.featured-logos__carousel .item-logo {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-logos__carousel .item-logo img {
  width: 100%;
  height: auto;
  max-height: 55px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) {
  .featured-logos__carousel .item-logo {
    height: 75px;
  }
  .featured-logos__carousel .item-logo img {
    max-height: 75px;
  }
}

/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
/*=== Título ===*/
.block-header {
  margin-bottom: 40px;
  color: #D8D7D3;
}
.block-header h1, .block-header h2, .block-header h3, .block-header h4, .block-header h5, .block-header h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Roboto-Light", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  font-size: 36px;
  letter-spacing: 0px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 360px) {
  .block-header h1, .block-header h2, .block-header h3, .block-header h4, .block-header h5, .block-header h6 {
    font-size: 38px;
  }
}
@media (min-width: 768px) {
  .block-header h1, .block-header h2, .block-header h3, .block-header h4, .block-header h5, .block-header h6 {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .block-header h1, .block-header h2, .block-header h3, .block-header h4, .block-header h5, .block-header h6 {
    font-size: 42px;
  }
}
.block-header .featured-txt {
  font-family: "Baskervville-Regular", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
}

.block-subtitle {
  color: #D8D7D3;
}
.block-subtitle h1, .block-subtitle h2, .block-subtitle h3, .block-subtitle h4, .block-subtitle h5, .block-subtitle h6, .block-subtitle p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Baskervville-Italic", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 1;
}
@media (min-width: 360px) {
  .block-subtitle h1, .block-subtitle h2, .block-subtitle h3, .block-subtitle h4, .block-subtitle h5, .block-subtitle h6, .block-subtitle p {
    font-size: 28px;
  }
}
@media (min-width: 768px) {
  .block-subtitle h1, .block-subtitle h2, .block-subtitle h3, .block-subtitle h4, .block-subtitle h5, .block-subtitle h6, .block-subtitle p {
    font-size: 26px;
  }
}

/*=== Descripción ===*/
.block-description, .accordions__accordions .accordion-body, .block-description--center {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Baskervville-Regular", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  font-size: 22px;
  letter-spacing: 0px;
  color: #D8D7D3;
}
@media (min-width: 360px) {
  .block-description, .accordions__accordions .accordion-body, .block-description--center {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .block-description, .accordions__accordions .accordion-body, .block-description--center {
    font-size: 20px;
  }
}
.block-description p, .accordions__accordions .accordion-body p, .block-description--center p {
  margin: 1.3rem 0;
}
@media (min-width: 768px) {
  .block-description p, .accordions__accordions .accordion-body p, .block-description--center p {
    margin: 1rem 0;
  }
}
.block-description ul, .accordions__accordions .accordion-body ul, .block-description--center ul {
  margin: 1.3rem 0;
}
@media (min-width: 768px) {
  .block-description ul, .accordions__accordions .accordion-body ul, .block-description--center ul {
    margin: 1rem 0;
  }
}
.block-description ul li::marker, .accordions__accordions .accordion-body ul li::marker, .block-description--center ul li::marker {
  color: #DF6C47;
}
.block-description ol, .accordions__accordions .accordion-body ol, .block-description--center ol {
  margin: 1.3rem 0;
  display: inline-block;
}
@media (min-width: 768px) {
  .block-description ol, .accordions__accordions .accordion-body ol, .block-description--center ol {
    margin: 1rem 0;
  }
}
.block-description ol li::marker, .accordions__accordions .accordion-body ol li::marker, .block-description--center ol li::marker {
  color: #DF6C47;
}
.block-description a, .accordions__accordions .accordion-body a, .block-description--center a {
  transition: all ease 0.3s;
  color: #DF6C47;
}
.block-description a:hover, .accordions__accordions .accordion-body a:hover, .block-description--center a:hover {
  color: rgba(223, 108, 71, 0.75);
}
@media (min-width: 992px) {
  .block-description--center ul, .block-description--center ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}

.accordions-inner {
  width: 83.75%;
}
.accordions-inner .block-header {
  text-align: center;
}
.accordions__accordions .accordion-item {
  background-color: transparent;
  border-bottom: 1px solid #02151B;
  padding: 34px 0;
}
.accordions__accordions .accordion-item:last-child {
  border-bottom: 1px solid #02151B;
}
.accordions__accordions .accordion-item:first-child {
  border-top: 1px solid #02151B;
}
.accordions__accordions .accordion-button {
  background-color: transparent;
  font-family: "Baskervville-Italic", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  color: #F6F8FF;
  font-size: 24px;
  letter-spacing: 0px;
}
@media (min-width: 360px) {
  .accordions__accordions .accordion-button {
    font-size: 26;
  }
}
@media (min-width: 768px) {
  .accordions__accordions .accordion-button {
    font-size: 22px;
  }
}
.accordions__accordions .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.accordions__accordions .accordion-body {
  padding-top: 34px;
}/*# sourceMappingURL=style.css.map */