@charset "UTF-8";
/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
/* Elemento de Galería */
.item_gallery_img_lg {
  width: 100%;
  position: relative;
  display: flex;
}
.item_gallery_img_lg .item_gallery_img_thumb {
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 75.83%;
  display: flex;
}
.item_gallery_img_lg .item_gallery_img_thumb img {
  width: 100%;
  display: block;
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.item_gallery_img_lg .item_gallery_img_thumb::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(2, 21, 27, 0);
  transition: all ease-in-out 0.3s;
}
.item_gallery_img_lg .item_gallery_img_thumb:hover .icon_zoom {
  top: 50%;
  transform: translate(-50%, -50%);
}
.item_gallery_img_lg .item_gallery_img_thumb:hover::after {
  background-color: rgba(0, 0, 0, 0.4);
}
.item_gallery_img_lg .icon_zoom {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -70%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  transition: all ease-in-out 0.3s;
  pointer-events: all;
}
.item_gallery_img_lg .icon_zoom svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.gallery-inner {
  text-align: center;
}
.gallery__grid {
  width: 100%;
  position: relative;
}
.gallery__grid .row:nth-child(odd) .col-md-6:nth-child(odd) {
  padding: 0;
}
@media (min-width: 768px) {
  .gallery__grid .row:nth-child(odd) .col-md-6:nth-child(odd) {
    padding-left: 0px;
    padding-right: 8px;
  }
}
.gallery__grid .row:nth-child(odd) .col-md-6:nth-child(even) {
  padding: 16px 0 0 0;
}
@media (min-width: 768px) {
  .gallery__grid .row:nth-child(odd) .col-md-6:nth-child(even) {
    padding: 0 0 0 8px;
  }
}
.gallery__grid .row:nth-child(even) {
  flex-direction: row-reverse;
  padding-top: 16px;
}
.gallery__grid .row:nth-child(even) .col-md-6:nth-child(odd) {
  padding: 0;
}
@media (min-width: 768px) {
  .gallery__grid .row:nth-child(even) .col-md-6:nth-child(odd) {
    padding-left: 8px;
    padding-right: 0px;
  }
}
.gallery__grid .row:nth-child(even) .col-md-6:nth-child(even) {
  padding: 16px 0 0 0;
}
@media (min-width: 768px) {
  .gallery__grid .row:nth-child(even) .col-md-6:nth-child(even) {
    padding: 0 8px 0 0;
  }
}
.gallery__main-img {
  width: 100%;
  position: relative;
  display: flex;
}
.gallery__main-img .item_gallery_img_thumb {
  padding-bottom: 58.99%;
}
.gallery__secundary-imgs {
  width: 100%;
  position: relative;
}
.gallery__secundary-imgs__secundary .item_gallery_img_thumb {
  padding-bottom: 58.33%;
}
.gallery__secundary-imgs__secundary-main .item_gallery_img_thumb {
  padding-bottom: 45%;
}
@media (min-width: 768px) {
  .gallery__secundary-imgs__secundary-main .item_gallery_img_thumb {
    padding-bottom: 28.652%;
  }
}/*# sourceMappingURL=gallery.css.map */