/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
.left-description {
  width: 100%;
  position: relative;
}
.left-description-inner {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .left-description-inner {
    flex-direction: row;
    align-items: stretch;
  }
}
.left-description__left-side {
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .left-description__left-side {
    /* padding-left: 36px; */
    width: 100%;
    /* padding-top: 75px;
    padding-bottom: 75px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; */
  }
}
@media (min-width: 1200px) {
  .left-description__left-side {
    width: calc((100% - 16px) / 12 * 5);
    padding-left: 2.255%;
    padding-top: 85px;
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.left-description__left-side .block-header {
  text-align: center;
}
@media (min-width: 768px) {
  .left-description__left-side .block-header {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1200px) {
  .left-description__left-side .block-header {
    text-align: left;
    transform: none;
    left: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .left-description__left-side .block-descrition-wrap {
    width: calc((100vw - 4.51%) / 12 * 4);
  }
}
.left-description__left-side .block-descrition-wrap .cta--secundary {
  text-align: center;
}
@media (min-width: 1200px) {
  .left-description__left-side .block-descrition-wrap .cta--secundary {
    text-align: left;
  }
}
.left-description__right-side {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}
@media (min-width: 768px) {
  .left-description__right-side {
    padding-bottom: 70%;
  }
}
@media (min-width: 992px) {
  .left-description__right-side {
    padding-bottom: 55%;
  }
}
@media (min-width: 1200px) {
  .left-description__right-side {
    width: calc((100% - 16px) / 12 * 7);
    padding-bottom: 40.89%;
  }
}
.left-description__right-side img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.left-description__right-side::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: 50;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  aspect-ratio: 1/0.25;
  height: auto;
  max-height: 120px;
  background-image: url("../assets/corporativo/pattern.svg");
}
@media (min-width: 992px) {
  .left-description__right-side::after {
    max-height: 150px;
  }
}/*# sourceMappingURL=left-description.css.map */