@import "../../_mixings/mixings";
@import "../../_variables/variables";

.presentation-carousel{
    @include styleBase;
    .container{
        /* padding-right: 0 !important;
        @include tablet{
            --bs-gutter-x: 1.5rem;
            padding-right: calc(var(--bs-gutter-x)* .5);
            padding-left: calc(var(--bs-gutter-x)* .5);
        } */
    }
    &-inner{
        @include styleBase;
        text-align: center
    }
    &__carousel{
        @include styleBase;

        .owl-stage{
            padding-left: 0 !important;
        }
        .item{
            .item-inner{
                aspect-ratio: 0.90;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                @include tablet-xl{
                    aspect-ratio: 1 / 0.76;
                }
            }
        }
    }
    &__cta{
        padding-top: 35px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}
