@import "../../_mixings/mixings";
@import "../../_variables/variables";

.presentation-carousel{
    @include styleBase;
    .container{
        /* padding-right: 0 !important;
        @include tablet{
            --bs-gutter-x: 1.5rem;
            padding-right: calc(var(--bs-gutter-x)* .5);
            padding-left: calc(var(--bs-gutter-x)* .5);
        } */
    }
    &-inner{
        @include styleBase;
        @include tablet{
            text-align: center;
        }
    }
    &__carousel{
        @include styleBase;

        .owl-stage{
            padding-left: 0 !important;
        }
        .item{
            .item-inner{
                img{
                    aspect-ratio: 0.984;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include tablet{
                        aspect-ratio: 1 / 0.76;
                    }
                    @include laptop{
                        height: 326px;
                    }
                    @include mediaquery(1440px){
                        height: 340px;
                    }
                    @include desktop{
                        height: 461px;
                    }
                }
                .presentation-carousel__cta{
                        display: none;
                        transition: all ease-in-out .3s;
                }
            }
        }
        .owl-item.active.center{
            .item{
                .item-inner{
                    .presentation-carousel__cta{
                        display: flex;
                    }
                }
            }
        }

        .customControls{
            margin-top: 30px;
            @include laptop{
                position: absolute;
                z-index: 100;
                top: 396px; // img + separación ( img + 70px)
                justify-content: space-between;
                left: 50%;
                transform: translateX(-50%);
                margin-top: 0;
                
            }
            @include mediaquery(1440px){
                top: 410px;
            }
            @include desktop{
                top: 531px; 
            }
        }
    }
    &__cta{
        margin-top: 16px;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 20px;
        @include tablet{
            margin-top: 30px;
        }
        @include laptop{
            margin-top: 70px;
            padding-top: 55px;
        }
    }
    .owl-navsDots--inline{
        .owl-nav{
            @include laptop{
                position: absolute;
                top: 392px; // img + separación
            }
            @include desktop{
                top: 526px; 
            }
        }
        .owl-dots{
            @include laptop{
                position: absolute;
                top: 392px;
            }
            @include desktop{
                top: 526px;
            }
        }
    }
}

