@import "../../_mixings/mixings";
@import "../../_variables/variables";

.text-size{
    font-size: 20px;
    /* font-size: 22px;
    @include mobile-l{
        font-size: 24px;
    }
    @include tablet{
        font-size: 20px;
    } */
}
/*select*/
.select_select{
    position: relative;
    width: 100%;
    select{
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        /* border: 1px solid $blue; */
        position: relative;
        background-color: transparent;
        outline: none;
        @include baskervville-regular;
        @extend.text-size;
        letter-spacing: 0px;
        color: transparentize($color: $whispering-smoke, $amount: 0.40);
        /* padding: 23px 30px 23px 20px; */
        width: 100%;
        display: inline-block;
        position: relative;
        transition: all ease-in-out .3s;
    }
    i{
        position: absolute;
        right: 30px;
        top: 50%;
        width: 12px;
        height: 12px;
        border-left: 2px solid $blue;
        border-bottom: 2px solid $blue;
        transform: rotate(-45deg) translateX(100%);
        transition: all ease-in-out .3s;
    }
    &.openSelect{
        width: 100%;
        select{
            &:hover,
            &:focus{
                background-color: $blue !important;
                color: $white;
                outline: none;
                box-shadow: 0 0 0 0.25rem transparentize($color: $blue, $amount: 0.5);
            }
        }
        i{
            transform: rotate(135deg) translateY(0%);
            border-left: 2px solid $white;
            border-bottom: 2px solid $white;
        }
        
    }
    &:hover{
        select{
            &:hover{
                background-color: $blue !important;
                color: $white;
            }
            &:focus{
                outline: none;
                box-shadow: 0 0 0 0.25rem transparentize($color: $blue, $amount: 0.5);
            }
        }
        i{
            border-left: 2px solid $white;
            border-bottom: 2px solid $white;
        }
    }
}

.form-block{
    &-inner{
        @include styleBase;
        text-align: left;
        @include tablet{
            text-align: center;
        }
        @include tablet-xl{
            width: 83.75%;
        }
    }
    &__form{
        /* padding-top: 25px; */
        @include tablet{
            padding-top: 25px; 
        }
        .form-columns{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            gap: 35px 16px;
        }
        .cta{
            margin-top: 10px;
            @include styleBase;
            @include tablet{
                margin-top: 5px;
            }
        }

    }
    &__input{
        @include styleBase;
        @include tablet{
            width: calc((100% - 40px) / 2);
            flex-grow: 1;
        }
        label{
            @include styleBase;
            @include baskervville-regular;
            @include slice;   
            @extend.text-size;
            letter-spacing: 0px;
            color: $whispering-smoke;
            margin-bottom: 0px;
            padding-bottom: 11px;
            text-align: left;
            text-transform: uppercase;
        }
        input,
        textarea{
            appearance: none;
            @include styleBase;
            max-width: 100%;
            color: $whispering-smoke;
            @include baskervville-regular;
            @include slice;   
            @extend.text-size;
            letter-spacing: 0px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid $blue;
            border-radius: 0;
            background: transparent;
            outline: none;
            padding: 5px 16px;
            &::placeholder{
                color: transparentize($color: $whispering-smoke, $amount: 0.40);
            }
            &:focus, &:focus-visible{
                outline: 0;
                color: $whispering-smoke;
                border-color: $blue;
                box-shadow: 0 0 0 0.25rem transparentize($color: $blue, $amount: 0) !important;
            }
        }
        textarea{
            min-height: 130px;
            resize: none;
        }

        /* input[type="time"]::-webkit-calendar-picker-indicator{       
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke-width='3' stroke='%23004659' fill='none'%3E%3Ccircle cx='32' cy='32' r='25.3'/%3E%3Cpolyline points='32 11.88 32 32.77 43.22 41.38'/%3E%3C/svg%3E");
            background-size: 25px;
            background-repeat: no-repeat;
            padding: 10px 15px;
            background-position: right 2px center;
            @include tablet{
            background-size: 30px;
            background-position: left 0px center;
            transform: translateX(5px);
            }
        }

        input[type="time"]::-webkit-outer-spin-button,
        input[type="time"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        } */
        .form-control:focus {
            background-color: transparent;
        }
        .input-group-text {
            /* height: 100%; */
            background-color: transparent;
            border: none;
            border-radius: 0;
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(22.5%);
            z-index: 100;
            padding: 0;
            cursor: pointer;
            /* pointer-events: none;
            @include laptop{
                pointer-events: all;
            } */
            svg{
                width: 25px;
                height: 25px;
                /* @include tablet{
                    width: 30px;
                    height: 30px;
                } */
            }
        }
        .bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
            background-color: $black-stallion;
            border-color: $black-stallion;
            color: $whispering-smoke;
            @include slice;
            @include baskervville-regular;
            font-weight: bold;
            font-size: 1.2em;
          }
          .dropdown-menu {
            background-color: $blue;
            color: $whispering-smoke;
          }
          .dropdown-menu .btn{
            color: $whispering-smoke;
          }
          .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after{
            border-bottom: 6px solid $blue;
          }
          .bootstrap-datetimepicker-widget table td span:hover{
            background: $black-stallion;
          }
        select{
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid $blue;
            color: transparentize($color: $whispering-smoke, $amount: 0.40);
            padding: 5px 16px;
        }

        
    }
    &__check{
        @include styleBase;
        display: inline-flex;
        .form-check-input[type=checkbox]{
            width: 21px;
            height: 21px;
            border: 1px solid $blue;
            border-radius: 0 !important;
            margin-right: 17px;
            background-color: transparent;
            @include tablet{
                margin-right: 10px;
            }

        }
        .form-check-input:checked {
            background-color: $blue;
            border-color: $blue;
        }
        .form-check-input:checked[type=checkbox] {
            --bs-form-check-bg-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e);
        }
        label{
            position: relative;
            @include baskervville-regular;
            @include slice;   
            @extend.text-size;
            letter-spacing: 0px;
            color: $whispering-smoke;
            margin-bottom: 0px;
            text-align: left;
            a{
                color: $whispering-smoke;
                text-decoration: underline;
                transition: all ease-in-out .3s;
                &:hover{
                    color: $soft-red;
                }
            }
        }
    }
}
