/*== Colores Texto ===*/
$whispering-smoke: #D8D7D3; //Texto base, Títulos
$ghost-white: #F6F8FF; //Opciones del menú
$white: #FFFFFF; //CTA
$border-cta-white: #F6F8FF;



/*== Colores Corporativos ===*/
$soft-red: #DF6C47; //Iconos Naranjas, CTA's
$black-stallion: #02151B; //Background
$dark-orange: #A04935; // Bkg
$nocturnal-expedition:#004759; //logotipos
$blue:#004659;//Enlaces secundarios, cta, navs
$beige: #868782; //Bkg

/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
$espacio: calc(100% - 95.49%);