@import "../../_mixings/mixings";
@import "../../_variables/variables";

.our-offices{
    &-inner{
        @include styleBase;
        text-align: left;
        @include tablet{
            text-align: center;
        }
    }
    &__offices{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 23px 16px;
        margin-top: 55px;
        @include tablet{
            flex-direction: row;
            /* align-items: center; */
            margin-top: 70px;
            align-items: stretch;
        }
        @include tablet-xl{
            justify-content: space-between;
        }
        .multimedia-element{
            @include styleBase;
            @include tablet{
                max-width: calc(((100% - 16px) / 12) * 6);
                flex-grow: 1;
            }
            iframe{
                aspect-ratio: 1 / 0.74;
                height: 100%;
                width: 100%;
                object-fit: contain;
/*                 @include tablet{
                    aspect-ratio: 1 / 0.74;
                } */
            }
        }
        
    }
    &__list{
        @include styleBase;
        @include tablet{
            width: calc(((100% - 16px) / 12) * 6);
            align-self: end;
            padding-top: 25px;
        }
        @include tablet-xl{
            width: calc(((100% - 16px) / 12) * 5);
        }
        ul{
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 24px;
            li{
                text-align: left;
                .item-office{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    gap: 25px;
                    @include tablet{
                        align-items: start;
                        flex-direction: row;
                        align-items: center;
                        gap: 0;
                    }
                    &-info{
                        position: relative;
                        width: 100%;
                        @include tablet{
                            width: 60%;
                            padding-right: 16px;
                        }
                        @include tablet-xl{
                            flex-grow: 1;
                        }
                        .item-office-ttl{
                            h3{
                              @include roboto-light;
                              color: $whispering-smoke;
                              font-size: 20px;
                              letter-spacing: 0px;
                              @include tablet{
                                font-size: 24px;
                              }
                            }
                        }
                        .item-office-subttl{
                            p{
                                @include baskervville-regular;
                                color: $whispering-smoke;
                                /* font-size: 16px; */
                                font-size: 12px;
                                letter-spacing: 0px;
                                /* @include mobile-l{
                                    font-size: 14;
                                } */
                                /* @include tablet{
                                    font-size: 12px;
                                } */
                            }
                        }
                    }
                    .cta{
                        position: relative;
                        @include tablet{
                            justify-content: flex-end;
                            text-align: right;
                            width: 40%;
                        }
                        @include tablet-xl{
                            width: auto;
                            max-width: 40%;
                        }
                    }
                }
            }
        }
    }
}