/*======================================================================*
    Mixing Media Query
*======================================================================*/
/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/
/*======================================================================*
    Tipography
*======================================================================*/
/*== Colores Texto ===*/
/*== Colores Corporativos ===*/
/*== Espacio Restante del Container (Espacios Laterales Laptop) ===*/
/* $espacio: calc(4.51% + 39.65px); */
.actions-description-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.actions-description__actions, .actions-description__description {
  width: calc((100% - 16px) / 2);
}
.actions-description__actions .item-card-info .superindice-card h1, .actions-description__actions .item-card-info .superindice-card h2, .actions-description__actions .item-card-info .superindice-card h3, .actions-description__actions .item-card-info .superindice-card h4, .actions-description__actions .item-card-info .superindice-card h5, .actions-description__actions .item-card-info .superindice-card h6, .actions-description__actions .item-card-info .superindice-card p, .actions-description__actions .item-card-info .superindice-card span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Baskervville-Italic", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  letter-spacing: 0px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.actions-description__actions .item-card-info .ttl-card h1, .actions-description__actions .item-card-info .ttl-card h2, .actions-description__actions .item-card-info .ttl-card h3, .actions-description__actions .item-card-info .ttl-card h4, .actions-description__actions .item-card-info .ttl-card h5, .actions-description__actions .item-card-info .ttl-card h6, .actions-description__actions .item-card-info .ttl-card p, .actions-description__actions .item-card-info .ttl-card span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Roboto-Light", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
  letter-spacing: 0px;
  font-size: 24px;
  color: #FFFFFF;
}